---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=b1867cc483af2d08af0418a9045b139b35393390
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1589419355'
      Etag:
      - W/"8cc00a35b332beb378df5e3342f8c4b0"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"iEv0lv3","id":10391857,"node_id":"MDQ6VXNlcjEwMzkxODU3","avatar_url":"https://avatars1.githubusercontent.com/u/10391857?v=4","gravatar_id":"","url":"https://api.github.com/users/iEv0lv3","html_url":"https://github.com/iEv0lv3","followers_url":"https://api.github.com/users/iEv0lv3/followers","following_url":"https://api.github.com/users/iEv0lv3/following{/other_user}","gists_url":"https://api.github.com/users/iEv0lv3/gists{/gist_id}","starred_url":"https://api.github.com/users/iEv0lv3/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iEv0lv3/subscriptions","organizations_url":"https://api.github.com/users/iEv0lv3/orgs","repos_url":"https://api.github.com/users/iEv0lv3/repos","events_url":"https://api.github.com/users/iEv0lv3/events{/privacy}","received_events_url":"https://api.github.com/users/iEv0lv3/received_events","type":"User","site_admin":false},{"login":"adumortier","id":42797894,"node_id":"MDQ6VXNlcjQyNzk3ODk0","avatar_url":"https://avatars2.githubusercontent.com/u/42797894?v=4","gravatar_id":"","url":"https://api.github.com/users/adumortier","html_url":"https://github.com/adumortier","followers_url":"https://api.github.com/users/adumortier/followers","following_url":"https://api.github.com/users/adumortier/following{/other_user}","gists_url":"https://api.github.com/users/adumortier/gists{/gist_id}","starred_url":"https://api.g[...]
