<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to brownfield_of_dreams.com, <%= @user.first_name %></h1>

    <%= link_to "Visit here to activate your account.", emails_url(@user) %>
  </body>
</html>
